
body {
  background: #8E2DE2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin-top: 15%;
}

h1, h2, h3 {
  color: #FFFFFF;
}

.form-control {
  border-radius: 1rem;
  max-width: 50%;
  margin: 2rem;
}

.input-group {
  display: flex;
  justify-content: center;
}

.btn-success {
  margin-top: 2rem;
  border-radius: 1rem;
}

.fit-picture {
  border-radius: 1rem;
}

.col-border {
  border-right: ridge;
}
